---
---

body
  background-color: rgb(30, 30, 30)

div
  text-align: center
  align-items: center

h2
  color: rgba(255, 255, 255, 1)
  background-color: rgba(0, 0, 0, 1)
  margin: 0

p
  color: rgba(255, 255, 255, 1)
  background-color: rgba(0, 0, 0, 1)
  padding: 5px
  margin: 5px

.input_text
  width: 400px
.input_button
  width: 100px

label
  width: 200px
  display: inline-block
  text-align: left

a
  color: #00aeae;